CompileFlags:
  Add:
    - -std=c11
  Remove:
    - -m*
    - -f*
    - -specs=*
    - -W*
    - -g*
    - -O*
    - -flto
    - -DDEBUG

Diagnostics:
  UnusedIncludes: Strict

InlayHints:
  Enabled: false
