# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template
/Drivers
/

# =======================
# Keil MDK 编译中间产物
# =======================

# 编译器中间文件
*.crf
*.d
*.dep

# 输出文件
*.axf
*.hex
*.bin
*.htm
*.lnp
*.sct

# 列表文件
*.lst

# 调试/用户配置
DebugConfig/
*.uvguix.*
JLinkLog.txt
JLinkSettings.ini

# 事件记录
EventRecorderStub.scvd

# 其他
*.iex
*.bakMDK-ARM